<div class="nav-item dropstart">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
    height="43" alt="Avatar" loading="lazy" />
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="/accounts/profile">My profile</a></li>
    <li><a class="dropdown-item" href="/accounts/settings">Settings</a></li>
    <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
  </ul>
</div>